#vids {
	width: 100%;
	height: 100%;
	background: $bgColor;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	padding-bottom: 300px;

	&::after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		background: url(../../../public/img/main/pics01.jpg) no-repeat;
		background-position: center bottom;
		background-size: cover;
		height: 30%;
		width: 100%;
		filter: grayscale(1);
	}

	>h2 {
		position: absolute;
		top: -20px;
		left: 50%;
		transform: translateX(-50%);
		background: #fff;
		z-index: 2;
		padding: 10px;
	}

	.top_text {
		width: 70%;
		margin: 150px auto 0;
		display: flex;

		h3 {
			width: 40%;
			font-size: $fontXXXL;
			color: #fff;
			transition: 0.5s;
			transform: translateX(-20%);
		}

		p {
			width: 60%;
			color: #fff;
			transition: 0.5s;
			transform: translateX(20%);
		}
	}

	.vids_youtube {
		position: relative;
		z-index: 1;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 50px -10px 0;

		article {
			width: calc(33.3333% - 20px);
			margin: 0 10px 20px;
			height: 200px;
			transform: scale(0.8);
			transition: 0.5s ease-in-out 0.1s;

			span {
				cursor: pointer;
				position: absolute;
				right: 10px;
				top: 10px;
				background: $pointColor;
				padding: 5px 10px;
				font-size: $fontS;
			}

			.pic {
				height: 100%;
			}
		}

		.btnPlus {
			color: $pointColor;
			background: #111;
			padding: 10px 20px;
			margin-top: 30px;

		}
	}

	video {
		margin-top: 100px;
		max-width: 800px;
		position: relative;
		z-index: 1;

	}

	&.on {
		.top_text {
			h3 {
				transform: translateX(0);
			}

			p {
				transform: translateX(0);
			}
		}

		.vids_youtube {
			article {
				transform: scale(1);
			}
		}
	}
}

@media screen and (max-width:$tablet) {
	#vids {
		padding: 20px;

		.top_text {
			width: 100%;
			margin: 50px auto 0;
			flex-direction: column;

			h3 {
				width: 100%;
				font-size: $fontXXL;

			}

			p {
				width: 90%;

			}
		}

		.vids_youtube {
			article {
				width: calc(33.3333% - 20px);
			}
		}

		video {
			max-width: 50%;
		}
	}
}

@media screen and (max-width:$mini) {
	#vids {

		.vids_youtube {
			article {
				width: calc(50% - 20px);
				height: 180px;
			}
		}

		video {
			max-width: 70%;
		}
	}
}

@media screen and (max-width:$mobile) {
	#vids {
		&::after {
			height: 20%;
		}

		.vids_youtube {
			article {
				width: calc(100% - 20px);
				height: 180px;
			}
		}

		video {
			max-width: 100%;
		}
	}
}

